html {
    overflow: hidden;
}

h1 {
	text-align: center;
	margin: 8px auto;
	color: darkcyan;
}

#container {
	width: 350px;
  height: 440px;
}

#login-info {
  margin-top: 45px;
  margin-bottom: 10px;
}
#login-info > div {
  margin-bottom: 15px;
}

#opt {
  margin-top: 15px;
}

.input-group .glyphicon {
  top: 0px;
}

#tab-base .row {
  margin-top:10px;
  padding-left: 5px;
}

#fun-panel {
  padding: 5px;
}

#chart-flow {
  width: 100%;
  height: 260px;
}
#chart-dynamic {
  width: 100%;
  height: 385px;
}

#base-opt > * {
  margin-bottom: 6px;
}

#tab-info, #tab-setting, #tab-about {
  padding: 12px 5px 0px 5px;
}

#tab-about .panel-info a {
  margin: 0 5px;
}

#user-list {
  display: inline-block;
  width: 60%;
}

#login-fail {
  margin: 10px auto;
  display: none;
}

#tab-setting .panel-body {
  padding: 8px 15px;
}

#bs-setting td > div {
  margin: 2px auto;
}

#bk-setting .switch > div {
  float: right;
  margin: -5px 0 0 0;
}

#bs-setting > .panel-heading {
  background-color: #5e81b5;
}

#bs-setting {
  border-color: #5e81b5;
}

#bs-setting table {
  width: 100%;
}

#bk-setting > .panel-heading {
  background-color: #905e93;
  border-color: #905e93;
}

#bk-setting {
  border-color: #905e93;
}

.table-condensed {
  font-size: 13px;
  margin-bottom: 0px;
}

.modal-body > div {
  margin-top: 10px;
  text-align: center;
}

.error-template {
  padding: 40px 15px;
  text-align: center;
}

.error-template button {
  margin: 20px auto 10px auto;
}